@model IEnumerable<Vallet.Domain.DTO.DtoUser.Datum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string _selectUserId = "";
}
<div class="row">
    <div class="col-xxl-12 col-md-12 col-lg-12">
        <div class="live-preview">
            <div class="card">
                <div class="card-body checkout-tab">
                    <form action="GET">
                        <div class="card-body">
                            <div class="card-body">
                                <div id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i>Müşteri Ekle</button>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <input type="text" class="form-control search" placeholder="Search...">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="sort" data-sort="customer_name">Adı Soyadı</th>
                                                    <th class="sort" data-sort="email">Eposta</th>
                                                    <th class="sort" data-sort="phone">Telefon</th>
                                                    <th class="sort" data-sort="date">Kayıt Tarihi</th>
                                                    <th class="sort" data-sort="status">Rol</th>
                                                    <th class="sort" data-sort="action">Güncelle/Sil</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>

                                                        <td class="customer_name">@item.fullName</td>
                                                        <td class="email">@item.email</td>
                                                        <td class="phone">@item.phoneNumber</td>
                                                        <td class="date">@item.createdTime</td>
                                                        <td class="status"><span class="badge badge-soft-success ">@item.role</span></td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <div class="edit">

                                                                    @*   <button type="button"
                                                                asp-action="Update"
                                                                asp-controller="Admin"
                                                                class="btn btn-sm btn-success edit-item-btn"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#showModalUpdate"
                                                                data-id="@item.id">
                                                                Güncelle
                                                                </button> *@

                                                                    <a href="/Admin/UserUpdate/@item.id" class="btn btn-sm btn-success edit-item-btn">Güncelle</a>


                                                                </div>
                                                                <div class="remove">
                                                                    <button asp-action="DeleteUser" asp-controller="Admin" onclick="setDeleteUserId('@item.id')"
                                                                            data-bs-toggle="modal" data-bs-target="#deleteRecordModal"
                                                                            type="button" class="btn btn-sm btn-soft-success btn-circle mr-2">
                                                                        Sil
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                           colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">
                                                    We've searched more than 150+ Orders We did not find any
                                                    orders for you search.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <a class="page-item pagination-prev disabled" href="#">
                                                Geri
                                            </a>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <a class="page-item pagination-next" href="#">
                                                İleri
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-light p-3">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    id="close-modal"></button>
                        </div>
                        <form asp-action="UserCreate" method="post" asp-contoroller="Admin">
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="customername-field" class="form-label">Müşteri İsmi</label>
                                    <input type="text" name="fullname" class="form-control" placeholder="isim giriniz" required />
                                </div>

                                <div class="mb-3">
                                    <label for="email-field" class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Email giriniz" required />
                                </div>

                                <div class="mb-3">
                                    <label for="phone-field" class="form-label">Telefon</label>
                                    <input type="text" name="phoneNumber" class="form-control" placeholder="Telefon giriniz" required />
                                </div>

                                <div>
                                    <label for="status-field" class="form-label">Role Seçin</label>
                                    <select class="form-control" name="role">
                                        <option value="">Role</option>
                                        <option value="Admin">Admin</option>
                                        <option value="User">User</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Kapat</button>
                                    <button type="submit" class="btn btn-success" id="add-btn">Ekle</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

           
            <!-- Modal -->
            <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mt-2 text-center">
                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                           colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                    <h4> Son Kararın Mı ?</h4>
                                    <p class="text-muted mx-4 mb-0">Silmek istediğinden emin misin ?</p>
                                </div>
                            </div>
                            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Kapat</button>
                                <form asp-action="DeleteUser" asp-controller="Admin" method="post">
                                    <input type="hidden" id="Id" name="Id" />
                                    <button type="submit" class="btn w-sm btn-danger " name="DeleteUser">Evet! Sil</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end modal -->
        </div>
    </div>
</div>

<script>
    function setDeleteUserId(userId) {
        document.getElementById("Id").value = userId;
    };
</script>
 