 @model Vallet.Domain.DTO.DtoUser.Datum

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-xxl-12 col-md-12 col-lg-12">
        <div class="live-preview">
            <div class="card">
                <div class="card-body checkout-tab">
                    <form method="post" asp-action="test2" asp-controller="Admin">
                        <input name="t" type="text" value="123" />

                        <button type="submit">TEST</button>
                    </form>
                    <form asp-controller="Admin" asp-action="Test" method="get">

                        <input type="hidden" name="id" class="form-control" value="@Model.id" required />

                        <div class="mb-3">
                            <label for="customername-field" class="form-label">Müşteri İsmi</label>
                            <input type="text" name="fullName" class="form-control" value="@Model.fullName" required />
                        </div>

                        <div class="mb-3">
                            <label for="email-field" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" value="@Model.email" required />
                        </div>

                        <div class="mb-3">
                            <label for="phone-field" class="form-label">Telefon</label>
                            <input type="text" name="phoneNumber" class="form-control" value="@Model.phoneNumber" required />
                        </div>

                        @*   <div>
                        <label for="status-field" class="form-label">Role Seçin</label>
                        <select class="form-control" name="Role">
                        <option value="Admin" @(Model == "Admin" ? "selected" : "")>Admin</option>
                        <option value="User" @(Model.role == "User" ? "selected" : "")>User</option>
                        </select>
                        </div> *@

                        <button type="submit" class="btn btn-success">Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
